/* === Google Font Import - Poppins === */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

b,
strong {
    color: #000;
    font-weight: bolder;
}

.swiper-button-next,
.swiper-button-prev {
    opacity: 0.7;
    color: white;
    transition: all 0.3s ease;
    padding-top: 241px;
    padding: 241px 85px;
    position: absolute;
}

.price-main .element-1 {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 23% 77% 58% 42% / 84% 31% 69% 16%;
}

.price-main .element-2 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 500px;
    height: 700px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 23% 77% 58% 42% / 84% 31% 69% 16%;
}

.price-main .element-3 {
    position: absolute;
    bottom: 0;
    left: 8;
    width: 200px;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 23% 77% 58% 42% / 84% 31% 69% 16%;
}

.price-main .element-4 {
    position: absolute;
    right: 0;
    width: 300px;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 23% 77% 58% 42% / 84% 31% 69% 16%;
}

.price-main .element-5 {
    position: absolute;
    bottom: 0;
    right: 50%;
    width: 200px;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 80% 20% 52% 48% / 60% 17% 83% 40%;
}

.price-header {
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 200px; */
    /* background-color: #014280; */
    text-align: center;
    text-transform: uppercase;
}

.Price-slider {
    display: flex;
    align-items: center;
    justify-content: center;
}

.price-container {
    position: relative;
    height: 450px;
    width: 1075px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper {
    width: 950px;
}

.card {
    position: relative;
    background: #fff;
    border-radius: 20px;
    height: 400px;
    margin: 20px 0;
    box-shadow: 0 2px 10px rgba(27, 117, 153, 0.356);
    border: solid 1px rgba(27, 117, 153, 0.356);
    box-shadow: 0 10px 0 #ad7474, inset 0 -10px 0 rgba(84, 114, 196, 0.25), inset 0 -10px 0 rgba(84, 86, 92, 0.25);
}

.card::before {
    content: "";
    position: absolute;
    height: 40%;
    width: 100%;
    background: white;
    border-radius: 20px 20px 0 0;
}

.card .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    padding-top: 0px;
    position: relative;
    z-index: 100;
}

section .card .image {
    height: 140px;
    width: 140px;
    border-radius: 20%;
    padding: 3px;
    background: #7d2ae8;
    margin-top: 30px;
}

section .card .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20%;
    border: 3px solid #fff;
}

.card .media-icons {
    position: absolute;
    top: 12px;
    right: 95px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card .media-icons i {
    color: #7d2ae8;
    opacity: 0.6;
    margin-top: 10px;
    transition: all 0.3s ease;
    cursor: pointer;
    margin: 10px;
}

.card .media-icons i:hover {
    opacity: 1;
}

.card .name-profession {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    color: black;
}

.name-profession .name {
    font-size: 20px;
    font-weight: 600;
}

.name-profession .profession {
    font-size: 15px;
    font-weight: 500;
}

.card .rating {
    display: flex;
    align-items: center;
    margin-top: 18px;
}

.card .rating i {
    font-size: 18px;
    margin: 0 2px;
    color: #7d2ae8;
}

.card .button {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.card .button button {
    background: #7d2ae8;
    outline: none;
    border: none;
    color: #fff;
    padding: 8px 22px;
    border-radius: 10px;
    font-size: 14px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.button button:hover {
    background: #6616d0;
}

.swiper-pagination {
    position: absolute;
    top: 450px;
}

.swiper-pagination-bullet {
    height: 7px;
    width: 26px;
    border-radius: 25px;
    background: white;
}

.swiper-button-next,
.swiper-button-prev {
    opacity: 0.7;
    color: white;
    transition: all 0.3s ease;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    opacity: 1;
    color: white;
}

.pricing .box {
    padding: 20px 70px;
    background: #fff;
    text-align: center;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    border: 1px solid #fff;
}

.pricing .box h3 {
    font-weight: 400;
    padding: 15px;
    margin-top: 15px;
    font-size: 18px;
    font-weight: 600;
    color: #151515;
}

.box strong p {
    font-size: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #151515;
    text-align: center;
    font-weight: 700;
    padding: 10px 5px;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 30px;
}

.box strong #card-1 {
    background-color: #61b959;
}

.box strong #card-2 {
    background-color: #e4c411;
}

.box strong #card-3 {
    background-color: #e64bba;
}

.box h4 span {
    color: #bababa;
    font-size: 16px;
    font-weight: 300;
}

.box ul {
    padding: 0;
    list-style: none;
    color: #151515;
    line-height: 20px;
    font-size: 14px;
}

.box ul li {
    padding-bottom: 10px;
}

.pricing .box ul i {
    color: #7cc576;
    font-size: 18px;
    padding-right: 4px;
}

.pricing .box ul .na {
    color: #ccc;
    text-decoration: line-through;
}

.pricing .box .btn-wrap {
    padding: 15px;
    text-align: center;
}

.pricing .box .btn-buy {
    display: inline-block;
    padding: 10px 40px 12px 40px;
    border-radius: 5px;
    border: 2px solid #7cc576;
    color: #7cc576;
    font-size: 14px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    transition: 0.3s;
}

.pricing .box .btn-buy:hover {
    background: #7cc576;
    color: #fff;
}

.pricing .recommended {
    border-color: #7cc576;
}

.pricing .recommended .btn-buy {
    background: #7cc576;
    color: #fff;
}

.pricing .recommended .btn-buy:hover {
    background: #61b959;
    border-color: #61b959;
}

.pricing .recommended-badge {
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    font-size: 12px;
    padding: 4px 25px 6px 25px;
    background: #eaf6e9;
    color: #7cc576;
    border-radius: 50px;
    text-transform: uppercase;
    font-weight: 600;
}

.box .price-value {
    color: #bababa;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: var(--swiper-pagination-bottom, 20px);
    top: var(--swiper-pagination-top, auto);
    left: 0;
    width: 100%;
}